<!DOCTYPE html>
<html>
<head>
  <title>Categorías</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Categorías</h1>
  <ul>
    {{#each categorias}}
    <li>{{this.nombre}}</li>
    {{/each}}
  </ul>
  <a href="/">Volver</a>
</body>
</html>
