<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <h1>Bienvenido a la Tienda de PRODUCTOS</h1>
  <nav>
    <a href="/api/productos">Productos</a> |
    <a href="/api/usuarios">Usuarios</a> |
    <a href="/api/categorias">Categorías</a>
  </nav>
</body>
</html>
